<!DOCTYPE html>
<html>
<head>
<title>{{name}}</title>
</head>
<body>
    <h1>{{name}}'s page</h1>
    <p>
        {{live_points}} ({{min_points}}) <br>
        <table>
            <thead>
                <td> Year </td>
                <td> Series </td>
                <td> Finish </td>
                <td> Points </td>
            </thead>
            <tbody>
                {% for series in seriesList %}
                    <tr>
                        <td>{{series.year}}</td>
                        <td>{{series.series_name}}</td>
                        <td>{{series.finish}}</td>
                        <td>{{series.points}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </p>
    <a href="javascript:history.go(-1)">Back</a>
</body>
</html>